---
layout: base.njk
---

<div class="hero-image" style="background-image: {{ heroImage }}">
  <div class="hero-text">Home</div>
  <div class="hero-credit">Credit: Vodkarani Codes</div>
</div>

<main>
  {{ content | safe }}
</main>
