---
layout: base.njk
---

{% if heroImage %}
<div class="hero-image" style="background-image: {{ heroImage }}">
  <div class="hero-text">{{ heroText }}</div>
  <div class="hero-credit">Credit: Vodkarani Codes</div>
</div>
{% endif %}

<main>
  {{ content | safe }}
</main>
