<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
</head>
<body>
	<nav>
      <div class="mobile">
        <input type="checkbox" id="menu"/>
        <div class="navbar">
          <a href="/"><img src="https://res.cloudinary.com/sangama/image/upload/v1615859999/images/sangama_logo_transbg.png" alt="" class="logo"></a>
          <label for="menu" id="ham-icon-wrapper">
            <div id="ham-icon"></div>
          </label>
        </div>
        <div class="multi-level" id="ml1">
          <div class="item">
            <input type="checkbox" id="ml1-A"/>
            <div class="label-plus">
              <a href="/">History</a>
              <label for="ml1-A">
                <i class="fas fa-chevron-right"></i>
              </label>
            </div>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/page.html">Page</a>
              </li>
              <li>
                <a href="/page-hero.html">Page Hero</a>
              </li>
              <li>
                <a href="/page-pullquote.html">Page Pullquote</a>
              </li>
              <li>
                <a href="#">Web Development</a>
              </li>
              <li>
                <a href="#">Internet Marketing & SEO</a>
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="ml1-B"/>
            <label for="ml1-B">Projects<i class="fas fa-chevron-right"></i>
            </label>
            <ul>
              <li>
                <div class="sub-item">
                  <input type="checkbox" id="ml1-B-A"/>
                  <label for="ml1-B-A">UI/UX</label>
                  <ul>
                    <li>
                      <a href="#">UI/UX Designer</a>
                    </li>
                    <li>
                      <a href="#">UI Designer</a>
                    </li>
                    <li>
                      <a href="#">UX Designer</a>
                    </li>
                  </ul>
                </div>
                <div class="sub-item">
                  <input type="checkbox" id="ml1-B-B"/>
                  <label for="ml1-B-B">Development</label>
                  <ul>
                    <li>
                      <a href="#">Frontend Developer</a>
                    </li>
                    <li>
                      <a href="#">Backend Developer</a>
                    </li>
                    <li>
                      <a href="#">Mobile App Developer</a>
                    </li>
                  </ul>
                </div>
              <li>
                <a href="#">Graphic Design</a>
              </li>
              <li>
                <a href="#">Logo Design</a>
              </li>
            </li>
          </ul>
        </div>
        <div class="item">
          <input type="checkbox" id="ml1-C"/>
          <label for="ml1-C">About Us<i class="fas fa-chevron-right"></i>
          </label>
          <ul>
            <li>
              <a href="#">Our Team</a>
            </li>
            <li>
              <a href="#">History</a>
            </li>
            <li>
              <a href="#">Our Space</a>
            </li>
          </ul>
        </div>
        <div class="item">
          <input type="checkbox" id="ml1-D"/>
          <label for="ml1-D">Support<i class="fas fa-chevron-right"></i>
          </label>
          <ul>
            <li>
              <a href="#">Donate</a>
            </li>
            <li>
              <a href="#">Sponsor</a>
            </li>
            <li>
              <a href="#">Volunteer</a>
            </li>
          </ul>
        </div>
        <div class="item">
          <input type="checkbox" id="ml1-E"/>
          <label for="ml1-E">Media<i class="fas fa-chevron-right"></i>
          </label>
          <ul>
            <li>
              <a href="#">Life at our Org</a>
            </li>
            <li>
              <a href="#">Media Packet</a>
            </li>
            <li>
              <a href="#">Gallery</a>
            </li>
          </ul>
        </div>
        </div>

        <div class="multi-level" id="ml2">
          <div class="item">
            <input type="checkbox" id="ml2-A"/>
            <label for="ml2-A">Services ML2</label>
            <ul>
              <li>
                <a href="#">Branding ML2</a>
              </li>
              <li>
                <a href="#">Web Development ML2</a>
              </li>
              <li>
                <a href="#">Internet Marketing & SEO ML2</a>
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="ml2-B"/>
            <label for="ml2-B">Projects ML2
            </label>
            <ul>
              <li>
                <div class="sub-item">
                  <input type="checkbox" id="ml2-B-A"/>
                  <label for="ml2-B-A">UI/UX ML2</label>
                  <ul>
                    <li>
                      <a href="#">UI/UX Designer</a>
                    </li>
                    <li>
                      <a href="#">UI Designer</a>
                    </li>
                    <li>
                      <a href="#">UX Designer</a>
                    </li>
                  </ul>
                </div>
                <div class="sub-item">
                  <input type="checkbox" id="ml2-B-B"/>
                  <label for="ml2-B-B">Development ML2</label>
                  <ul>
                    <li>
                      <a href="#">Frontend Developer</a>
                    </li>
                    <li>
                      <a href="#">Backend Developer</a>
                    </li>
                    <li>
                      <a href="#">Mobile App Developer</a>
                    </li>
                  </ul>
                </div>
              <li>
                <a href="#">Graphic Design ML2</a>
              </li>
              <li>
                <a href="#">Logo Design ML2</a>
              </li>
            </li>
          </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="ml2-C"/>
            <label for="ml2-C">Another Darn Item ML2</label>
            <ul>
              <li>
                <a href="#">Another Darn Subitem</a>
              </li>
              <li>
                <a href="#">Another Darn Subitem 2</a>
              </li>
              <li>
                <a href="#">Another Darn Subitem 3</a>
              </li>
              <li>
                <a href="#">Another Darn Subitem 4</a>
              </li>
              <li>
                <a href="#">Another Darn Subitem 5</a>
              </li>
              <li>
                <a href="#">Another Darn Subitem 6</a>
              </li>
              <li>
                <a href="#">Another Darn Subitem 7</a>
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="ml2-D"/>
            <label for="ml2-D">Community ML2</label>
            <ul>
              <li>
                <a href="#">Outreach</a>
              </li>
              <li>
                <a href="#">Support Systems</a>
              </li>
              <li>
                <a href="#">CBOs</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="button-bars">
          <div class="button-bar">
            <div class="button round">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>

          <div class="button-bar">
            <div class="button">
              <a href="#">Log In</a>
            </div>
            <div class="button">Apply for a Grant</div>
            <div class="button">
              <a href="#">Donate</a>
            </div>
          </div>
        </div>
      </div>
      <div class="desk">
        <div class="navbar">
          <a href="/"><img src="https://res.cloudinary.com/sangama/image/upload/v1615859999/images/sangama_logo_transbg.png" alt="" class="logo"></a>
          <div class="menu-groups">
            <div class="multi-level" id="ml1">
              <div class="ml1-menu-section">
                <div class="item">
                  <div class="item-name">
                    <a href="#">About Us</a>
                    <ul>
                      <li>
                        <a href="/">Vision</a>
                      </li>
                      <li>
                        <a href="/">Mission</a>
                      </li>
                      <li>
                        <a href="/">Values & Ways of Working</a>
                      </li>
                      <li>
                        <a href="/">Politics</a>
                      </li>
                      <li>
                        <a href="/">Board Members</a>
                      </li>
                      <li>
                        <a href="/">Staff</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="#">Get Involved</a>
                    <ul>
                      <li>
                        <a href="/">Volunteers</a>
                      </li>
                      <li>
                        <a href="/">Interns</a>
                      </li>
                      <li>
                        <a href="/">Corporates</a>
                      </li>
                      <li>
                        <a href="/">Work with Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="#">Contact Us</a>
                  </div>
                </div>
              </div>
              <div class="button-bar">
                <div class="button round">
                  <a href="#">
                    DONATE
                  </a>
                </div>
              </div>
            </div>

            <div class="multi-level" id="ml2">
              <div class="item">
                <div class="item-name">
                  <a href="#">focus areas</a>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">projects & campaigns</a>
                  <ul>
                    <li>
                      <a href="#">Projects</a>
                    </li>
                    <li>
                      <a href="#">Campaigns</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">history & lessons learnt</a>
                  <ul>
                    <li>
                      <div class="sub-item">
                        <div class="item-name">
                          <a href="#">History</a>
                          <ul>
                            <li>
                              <a href="#">Organisational Milestones</a>
                            </li>
                            <li>
                              <a href="#">Awards & Recognitions</a>
                            </li>
                            <li>
                              <a href="#">Journey of Causes</a>
                            </li>
                            <li>
                              <a href="#">Donor History</a>
                            </li>
                            <li>
                              <a href="#">Alliances & Partnerships</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#">Lessons Learnt</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">reports & resources</a>
                  <ul>
                    <li>
                      <div class="sub-item">
                        <div class="item-name">
                          <a href="#">Reports</a>
                          <ul>
                            <li>
                              <a href="#">Project Reports</a>
                            </li>
                            <li>
                              <a href="#">Financial Reports</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#">Resources</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
	<main>
	{{ content | safe }}
	</main>
</body>
</html>