---
layout: page.njk
title: "Contact Us"
---

<div class="content">
    <h1>Contact Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ut quod, aspernatur deleniti quae nostrum eum recusandae. Non a ullam quisquam modi odit aut nulla id harum, maiores pariatur praesentium.
    </p>
    <p>
      <div class="img-plus">
        <img class="img-plus" src="https://picsum.photos/360" alt="sample image" sizes="(max-width: 480px) 480px, (max-width: 800px) 800px, 1920px" srcset="https://picsum.photos/360/500   480w,
                  https://picsum.photos/800/500   800w,
                  https://picsum.photos/1000/500 1920w">
        <div class="img-credit">Credit - Venkatachallapati</div>
        <div class="img-caption">Caption for image</div>
      </div>
    </p>
  </div>
