---
layout: page.njk
title: "Page No Hero"
---

<div class="content">
    <h1>Page No Hero</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ut quod, aspernatur deleniti quae nostrum eum recusandae. Non a ullam quisquam modi odit aut nulla id harum, maiores pariatur praesentium.
    </p>
    <p>
      <div class="img-plus">
        <picture>
          <source media="(min-width: 1350px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580706722/thingstodo_4_gftome.jpg" />
          <source media="(min-width: 1200px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580706722/thingstodo_4_gftome.jpg">
          <source media="(min-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580706722/thingstodo_4_gftome.jpg">
          <img src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580706722/thingstodo_4_gftome.jpg" alt="Lecture and demonstration of aspects of classical dance">
        </picture>
        <div class="img-credit">Credit - Surupa Sen</div>
        <div class="img-caption">Lecture and demonstration of aspects of classical dance</div>
      </div>
    </p>
    <h1 id="scrool">Anchor Tag Here</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eius animi exercitationem error ipsum cumque nisi. Est, saepe. Iste, dolorem, quaerat molestias neque, dolorum architecto autem magni ad totam sint pariatur libero ipsam qui repellendus dignissimos! Id velit impedit quas rerum praesentium nostrum fugiat dolores, quaerat corporis omnis, eligendi officiis tempora iusto natus quod modi eius voluptatum nemo sequi? Architecto vero ullam ea sunt tempora aliquid ducimus quis. Dolorum, non.
    </p>
    <h2>H2 Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis cupiditate enim vero deserunt! Error beatae sed accusantium facere molestias consequuntur recusandae porro earum, commodi quia quaerat illum quas corporis numquam nihil sunt fugit assumenda vero doloribus voluptas quidem soluta inventore. Itaque officiis recusandae commodi consequatur odio nihil, ea numquam dolore rem, quisquam ex ipsam nulla repellat earum accusantium, quibusdam cumque praesentium ad cum fugiat similique eius labore. Quasi, quis? Nisi, quas error? Corrupti blanditiis ratione autem corporis, ex officiis reiciendis ea illo non placeat tempora laborum! Tempore sapiente sunt nostrum repellendus. Reiciendis amet tempora deleniti voluptates eligendi dignissimos aut veritatis?
    </p>
  </div>
